@charset "euc-kr";
@import url('reset.css');




body { background:#7cc81b; }




#wrapper { background:#c6f0fd url('../images/main_bg.png') no-repeat center 419px; padding-top:294px; position:relative; }

#illust { width:100%; }
#illust h1 { width:100%; text-align:center; display:block; padding-bottom:200px; position:relative; }
#illust h1 a { display:block; }
#illust h2 { position:absolute; top:3%; right:3%; z-index:5; }
#illust .kids_top { position:absolute; top:0; width:100%; text-align:center; display:block; }
#illust .kids1 { position:absolute; top:305px; left:46.6%; }
#illust .kids2 { position:absolute; top:396px; left:41.7%; }
#illust .kids3 { position:absolute; top:318px; left:56.7%; }
#illust .kids4 { position:absolute; top:254px; left:35.6%; }
#illust .kids5 { position:absolute; top:265px; left:30.4%; }
#illust .kids6 { position:absolute; top:318px; left:63.3%; }
#illust .sun { position:absolute; top:226px; left:42.5%; }
#illust .pig { position:absolute; top:419px; left:66.3%; }
#illust .cloud1 { position:absolute; top:305px; left:25.7%; }
#illust .cloud2 { position:absolute; top:231px; left:34%; }
#illust .cloud3 { position:absolute; top:261px; left:47.9%; }
#illust .cloud4 { position:absolute; top:303px; left:71.7%; }
#illust .cloud5 { position:absolute; top:348px; left:67.1%; }


#footer { font-family:'Nanum Gothic', sans-serif; width:100%; text-align:center; font-size:11px; padding:50px 0; color:#fff; }





@media screen and (max-width:800px){
	#illust .kids1 { left:44.6%; }
	#illust .kids2 { left:36.7%; }
	#illust .kids3 { left:60.7%; }
	#illust .kids4 { left:26.6%; }
	#illust .kids5 { left:18.4%; }
	#illust .kids6 { left:73.3%; }
	#illust .sun { left:37.5%; }
	#illust .pig { left:76.3%; }
	#illust .cloud1 { left:14.7%; }
	#illust .cloud2 { left:28%; }
	#illust .cloud3 { left:47.9%; }
	#illust .cloud4 { left:80.7%; }
	#illust .cloud5 { left:76.1%; }
}

@media screen and (max-width:480px){
	#wrapper { padding-top:260px; background-position:center 350px; background-size:auto 60%; }
	#illust h1 { padding-bottom:50px; }
	#illust h1 img { width:80%; }
	#illust h2 { top:10%; right:1%; }
	#illust img { width:75%; }
	#illust .kids_top img { width:60%; }

	#illust .kids1 { top:270px; left:41.6%; }
	#illust .kids2 { top:330px; left:29.7%; }
	#illust .kids3 { top:270px; left:64.7%; }
	#illust .kids4 { top:220px; left:13%; }
	#illust .kids5 { top:250px; left:1%; }
	#illust .kids6 { top:290px; left:87.3%; }
	#illust .sun { left:37.5%; }
	#illust .pig { top:350px; left:87%; }
	#illust .cloud1 { top:300px; left:1%; }
	#illust .cloud2 { left:28%; }
	#illust .cloud3 { top:200px; left:47.9%; }
	#illust .cloud4 { top:260px; left:84.7%; }
	#illust .cloud5 { top:280px; left:90.1%; }
}